<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Teknon Systems, LLC</string>
	<key>Builder Version</key>
	<string>10600.1.8</string>
	<key>CFBundleDisplayName</key>
	<string>myTrezor Address Labeler</string>
	<key>CFBundleIdentifier</key>
	<string>com.teknonsys.bitcoinaddresslabeler</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>labeler.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>jquery-2.1.1.min.js</string>
				<string>bootstrap-3.2.0.min.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>labler.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Add labels to addresses in myTrezor. Not affiliated with SatoshiLabs.</string>
	<key>DeveloperIdentifier</key>
	<string>62GK6X43FY</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.mytrezor.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://public.teknonsys.com/balUpdate.plist</string>
</dict>
</plist>
